<div>Enter the name of the band.</div>

<div class="ui-widget">
  <input id='band'>
  <div class='songSelectView'>
    <input id='song_letters'>
    <select id="song" name="song" >
      <option selected="selected"></option>
    </select>
    <button id='send'>Select song</button><br><br>
    <div id='newSong'></div>
  </div>
</div>